beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
linkpreview==0.8.3
neonize==0.2.1
phonenumbers==8.13.47
pillow==10.4.0
protobuf==4.25.5
python-magic==0.4.27
requests==2.32.3
segno==1.6.1
soupsieve==2.6
tqdm==4.66.5
urllib3==2.2.3
